 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/-min.jpg");
  background-position: 63.21% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 812px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  width: 770px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 275px auto 0;
}

.u-section-1 .u-text-2 {
  width: 770px;
  margin: 44px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 36px 360px 60px 417px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-1 .u-text-3 {
    width: 307px;
    margin-left: 317px;
    margin-right: 260px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 207px;
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 117px;
    margin-right: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.125rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 17px;
    margin-right: 17px;
  }
} .u-section-2 {
  background-image: url("images/5a9e9de27b11dac7aeb5f2ac24a4ecfc5a569510d0c4b6ab600c87197a41e8ed5be14790747f79a0f363682a63c3ce12cf20eb86692fd1d0cb7fd7_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 1125px;
}

.u-section-2 .u-text-1 {
  margin: 38px 211px 0 237px;
}

.u-section-2 .u-image-1 {
  width: 496px;
  height: 496px;
  margin: 44px auto 0 67px;
}

.u-section-2 .u-shape-1 {
  width: 755px;
  height: 355px;
  margin: -177px 36px 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: -334px 67px 0 381px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 247px;
  margin: 460px 0 -82px auto;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 0px 0px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1043px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 111px;
    margin-left: 137px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -153px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -273px;
    margin-right: 68px;
    margin-left: 181px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 400px;
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 1px;
    margin-left: 27px;
  }

  .u-section-2 .u-shape-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 28px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 221px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-top: 3px;
  }
} .u-section-3 {
  background-image: url("images/-min.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1054px;
}

.u-section-3 .u-shape-1 {
  width: 458px;
  height: 65px;
  margin: 707px auto 0 329px;
}

.u-section-3 .u-shape-2 {
  width: 370px;
  height: 65px;
  margin: -520px 76px 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: -244px auto 0;
}

.u-section-3 .u-shape-3 {
  width: 150px;
  height: 47px;
  margin: 40px auto 0;
}

.u-section-3 .u-shape-4 {
  width: 328px;
  height: 65px;
  margin: 35px auto 0 20px;
}

.u-section-3 .u-btn-1 {
  font-size: 1rem;
  margin: -45px auto 0 60px;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  margin: -25px 76px 0 auto;
  padding: 0;
}

.u-section-3 .u-shape-5 {
  width: 328px;
  height: 65px;
  margin: 77px auto 0 20px;
}

.u-section-3 .u-btn-3 {
  margin: -45px auto 0 60px;
  padding: 0;
}

.u-section-3 .u-shape-6 {
  width: 328px;
  height: 65px;
  margin: -33px 118px 0 auto;
}

.u-section-3 .u-btn-4 {
  margin: -45px 129px 0 auto;
  padding: 0;
}

.u-section-3 .u-shape-7 {
  width: 328px;
  height: 65px;
  margin: 82px auto 0 20px;
}

.u-section-3 .u-btn-5 {
  font-size: 1rem;
  margin: -45px auto 0 60px;
  padding: 0;
}

.u-section-3 .u-shape-8 {
  width: 370px;
  height: 65px;
  margin: -45px 76px 0 auto;
}

.u-section-3 .u-btn-6 {
  margin: -45px 172px 0 auto;
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 151px 20px 0 -20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1370px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 1245px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -1059px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -242px;
  }

  .u-section-3 .u-shape-4 {
    margin-top: 39px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: -49px;
    margin-left: 50px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 125px;
    margin-right: 50px;
  }

  .u-section-3 .u-shape-5 {
    margin-top: -145px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: -44px;
    margin-right: 50px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-6 {
    margin-top: 387px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: -43px;
    margin-right: 0;
    margin-left: 50px;
  }

  .u-section-3 .u-shape-7 {
    margin-top: -393px;
    margin-left: 40px;
  }

  .u-section-3 .u-btn-5 {
    font-size: 1.25rem;
    margin-top: -213px;
    margin-right: 50px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-8 {
    margin-top: 549px;
  }

  .u-section-3 .u-btn-6 {
    margin-top: -43px;
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -375px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 812px;
    margin-left: 262px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -626px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -243px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -48px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 124px;
    margin-right: -41px;
  }

  .u-section-3 .u-btn-3 {
    width: 235px;
    margin-right: 0;
  }

  .u-section-3 .u-shape-6 {
    margin-top: -45px;
  }

  .u-section-3 .u-btn-4 {
    width: 307px;
    margin-top: -45px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-7 {
    margin-top: 42px;
  }

  .u-section-3 .u-btn-5 {
    width: 336px;
    margin-top: -214px;
    margin-right: 0;
  }

  .u-section-3 .u-shape-8 {
    margin-top: 117px;
  }

  .u-section-3 .u-btn-6 {
    width: 220px;
    margin-top: -45px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-shape-1 {
    margin-left: 82px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 965px;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
    margin-top: 840px;
    margin-left: 0;
  }

  .u-section-3 .u-shape-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -303px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: 36px;
  }

  .u-section-3 .u-shape-4 {
    margin-top: 473px;
    margin-left: 12px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -398px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 202px;
    margin-right: auto;
  }

  .u-section-3 .u-shape-5 {
    margin-top: -210px;
    margin-left: 12px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: -57px;
  }

  .u-section-3 .u-shape-6 {
    margin-top: -46px;
    margin-right: 12px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: -44px;
  }

  .u-section-3 .u-shape-7 {
    margin-top: 54px;
    margin-left: 12px;
  }

  .u-section-3 .u-btn-5 {
    margin-top: -226px;
  }

  .u-section-3 .u-shape-8 {
    width: 340px;
    margin-top: 116px;
    margin-right: 0;
  }

  .u-section-3 .u-btn-6 {
    margin-top: -44px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-top: 120px;
  }
} .u-section-4 {
  background-image: url("images/99cf05eecc357babb4f66958f8c6e21daff8f005907a227f1c954c0ebea789b84053d5fbb979876b24fec0b90f6de997dda0e348a50286d458ad4a_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 948px;
}

.u-section-4 .u-shape-1 {
  width: 461px;
  height: 117px;
  margin: 27px auto 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: -85px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 423px;
  margin-top: 95px;
  margin-bottom: 0;
  grid-gap: 17px 17px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-shape-2 {
  width: 368px;
  height: 170px;
  margin: -40px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: -170px 783px 0 27px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-shape-3 {
  width: 368px;
  height: 170px;
  margin: -144px auto 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: -170px 397px 0 413px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-shape-4 {
  width: 368px;
  height: 170px;
  margin: -144px auto 0 772px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: -170px 11px 36px 799px;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -89px;
  }

  .u-section-4 .u-gallery-1 {
    height: 349px;
  }

  .u-section-4 .u-shape-2 {
    margin-top: 5px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -151px;
    margin-right: 610px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 297px;
    margin-left: 313px;
  }

  .u-section-4 .u-shape-4 {
    margin-left: 572px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 610px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1184px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -15px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -64px;
  }

  .u-section-4 .u-gallery-1 {
    height: 802px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-4 .u-text-2 {
    margin-right: 390px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 187px;
    margin-left: 203px;
  }

  .u-section-4 .u-shape-4 {
    margin-left: 352px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 390px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2255px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -83px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 4px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1805px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-text-2 {
    margin-right: 210px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 97px;
    margin-left: 113px;
  }

  .u-section-4 .u-shape-4 {
    margin-left: 172px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 210px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1565px;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
    margin-top: -81px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 2px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1136px;
  }

  .u-section-4 .u-shape-2 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 10px;
  }

  .u-section-4 .u-shape-3 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-4 .u-shape-4 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 10px;
  }
} .u-section-5 {
  background-image: url("images/3aca5e9e8022330e119d44798c7ee5dbdb267d875eedcd192ea0c36041997f7ca9d477f9f1b3c42e591ed1868ae540b1977cf9ffcdd2eebe612d28_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 1134px;
}

.u-section-5 .u-shape-1 {
  width: 1084px;
  height: 234px;
  margin: 558px auto 0;
}

.u-section-5 .u-shape-2 {
  width: 1084px;
  height: 208px;
  margin: -533px auto 0;
}

.u-section-5 .u-shape-3 {
  width: 522px;
  height: 88px;
  margin: -426px auto 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-style: italic;
  margin: -70px auto 0;
}

.u-section-5 .u-image-1 {
  width: 607px;
  height: 292px;
  margin: 106px auto 0 28px;
}

.u-section-5 .u-text-2 {
  margin: -221px 60px 0 auto;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-3 {
  margin: 28px 60px 0 auto;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-image-2 {
  width: 570px;
  height: 235px;
  margin: 130px 28px 0 auto;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -153px auto 60px 76px;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 935px;
  }

  .u-section-5 .u-shape-1 {
    width: 940px;
    margin-top: 559px;
  }

  .u-section-5 .u-shape-2 {
    width: 940px;
    margin-top: -534px;
  }

  .u-section-5 .u-shape-3 {
    margin-top: -425px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-5 .u-shape-1 {
    width: 720px;
  }

  .u-section-5 .u-shape-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-5 .u-shape-1 {
    width: 540px;
    margin-top: 560px;
  }

  .u-section-5 .u-shape-2 {
    width: 540px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 260px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: -189px;
  }

  .u-section-5 .u-image-2 {
    width: 540px;
    height: 222px;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: -140px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-5 .u-shape-1 {
    width: 340px;
    margin-top: 597px;
  }

  .u-section-5 .u-shape-2 {
    width: 340px;
    margin-top: -590px;
  }

  .u-section-5 .u-shape-3 {
    width: 340px;
    margin-top: -406px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 164px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -93px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 140px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -58px;
  }
}